@import url("../Theme/theme.scss");

.containers {
  width: 95%;
  margin: 0 auto;
}

.hr_tag {
  border: none;
  height: 1px;
  background-color: var(--form-hr);
  margin: 20px 0;
}

.w_100 {
  width: 100%;
}

.text_center {
  text-align: center;
  color: var(--form-useful-link-color);
}
